<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width"> 
    <title>Interiwork</title>
    
    <!-- Insert to your webpage before the </head> -->
    <script src="carouselengine-apartment/jquery.js"></script>
    <script src="carouselengine-apartment/amazingcarousel.js"></script>
    <link rel="stylesheet" type="text/css" href="carouselengine-apartment/initcarousel-1.css">
    <script src="carouselengine-apartment/initcarousel-1.js"></script>
    <!-- End of head section HTML codes -->

    <link rel="stylesheet" href="../../bootstrap-3.3.2-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../bootstrap-3.3.2-dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../../lib/angular-loading-bar-master/src/loading-bar.css" />
    <link rel="stylesheet" href="../../css/app.css" />

</head>
<body id="carousel">
<div style="margin:0px auto;">
    
<!-- Insert to your webpage where you want to display the carousel -->
<div id="amazingcarousel-container-1">
    <div id="amazingcarousel-1" style="display:block;position:relative;width:100%;max-width:1050px;margin:0px auto 0px;">
        <div class="amazingcarousel-list-container">
            <ul class="amazingcarousel-list">
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="images-apartment/Bedroom 01-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-1"><img src="images-apartment/Bedroom 01.jpg" /></a></div>
<div class="amazingcarousel-title"></div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="images-apartment/Bedroom 02-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-1"><img src="images-apartment/Bedroom 02.jpg" /></a></div>
<div class="amazingcarousel-title"></div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="images-apartment/Bedroom 03-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-1"><img src="images-apartment/Bedroom 03.jpg" /></a></div>
<div class="amazingcarousel-title"></div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="images-apartment/Bedroom 04-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-1"><img src="images-apartment/Bedroom 04.jpg" /></a></div>
<div class="amazingcarousel-title"></div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="images-apartment/Bedroom 05-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-1"><img src="images-apartment/Bedroom 05.jpg" /></a></div>
<div class="amazingcarousel-title"></div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="images-apartment/Kitchen 01-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-1"><img src="images-apartment/Kitchen 01.jpg" /></a></div>
<div class="amazingcarousel-title"></div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="images-apartment/Kitchen 02-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-1"><img src="images-apartment/Kitchen 02.jpg" /></a></div>
<div class="amazingcarousel-title"></div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="images-apartment/Kitchen 03-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-1"><img src="images-apartment/Kitchen 03.jpg" /></a></div>
<div class="amazingcarousel-title"></div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="images-apartment/Livingroom 01-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-1"><img src="images-apartment/Livingroom 01.jpg" /></a></div>
<div class="amazingcarousel-title"></div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="images-apartment/Livingroom 02-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-1"><img src="images-apartment/Livingroom 02.jpg" /></a></div>
<div class="amazingcarousel-title"></div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="images-apartment/Livingroom 03-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-1"><img src="images-apartment/Livingroom 03.jpg" /></a></div>
<div class="amazingcarousel-title"></div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
<div class="amazingcarousel-image"><a href="images-apartment/Livingroom 04-lightbox.jpg" class="html5lightbox" data-group="amazingcarousel-1"><img src="images-apartment/Livingroom 04.jpg" /></a></div>
<div class="amazingcarousel-title"></div>                    </div>
                </li>
            </ul>
            <div class="amazingcarousel-prev"></div>
            <div class="amazingcarousel-next"></div>
        </div>
        <div class="amazingcarousel-nav"></div>
        <div class="amazingcarousel-engine"><a href="http://amazingcarousel.com">JavaScript Image Carousel</a></div>
    </div>
</div>
<a id="back" href="../../index.html#/projects">Back</a>
<!-- End of body section HTML codes -->

</div>
</body>
</html>