<div id="amazingcarousel-container-1">
    <div id="amazingcarousel-1" style="display:block;position:relative;width:100%;max-width:720px;margin:0px auto 0px;">
        <div class="amazingcarousel-list-container">
            <ul class="amazingcarousel-list">
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image"><a href="templates/images/Bedroom 01-lightbox.jpg" title="Bedroom 01"  class="html5lightbox" data-group="amazingcarousel-1"><img src="templates/images/Bedroom 01.jpg"  alt="Bedroom 01" /></a></div>
                        <div class="amazingcarousel-title">Bedroom 01</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image"><a href="templates/images/Bedroom 02-lightbox.jpg" title="Bedroom 02"  class="html5lightbox" data-group="amazingcarousel-1"><img src="templates/images/Bedroom 02.jpg"  alt="Bedroom 02" /></a></div>
                        <div class="amazingcarousel-title">Bedroom 02</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image"><a href="templates/images/Bedroom 03-lightbox.jpg" title="Bedroom 03"  class="html5lightbox" data-group="amazingcarousel-1"><img src="templates/images/Bedroom 03.jpg"  alt="Bedroom 03" /></a></div>
                        <div class="amazingcarousel-title">Bedroom 03</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image"><a href="templates/images/Bedroom 04-lightbox.jpg" title="Bedroom 04"  class="html5lightbox" data-group="amazingcarousel-1"><img src="templates/images/Bedroom 04.jpg"  alt="Bedroom 04" /></a></div>
                        <div class="amazingcarousel-title">Bedroom 04</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image"><a href="templates/images/Bedroom 05-lightbox.jpg" title="Bedroom 05"  class="html5lightbox" data-group="amazingcarousel-1"><img src="templates/images/Bedroom 05.jpg"  alt="Bedroom 05" /></a></div>
                        <div class="amazingcarousel-title">Bedroom 05</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image"><a href="templates/images/Kitchen 01-lightbox.jpg" title="Kitchen 01"  class="html5lightbox" data-group="amazingcarousel-1"><img src="templates/images/Kitchen 01.jpg"  alt="Kitchen 01" /></a></div>
                        <div class="amazingcarousel-title">Kitchen 01</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image"><a href="templates/images/Kitchen 02-lightbox.jpg" title="Kitchen 02"  class="html5lightbox" data-group="amazingcarousel-1"><img src="templates/images/Kitchen 02.jpg"  alt="Kitchen 02" /></a></div>
                        <div class="amazingcarousel-title">Kitchen 02</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image"><a href="templates/images/Kitchen 03-lightbox.jpg" title="Kitchen 03"  class="html5lightbox" data-group="amazingcarousel-1"><img src="templates/images/Kitchen 03.jpg"  alt="Kitchen 03" /></a></div>
                        <div class="amazingcarousel-title">Kitchen 03</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image"><a href="templates/images/Livingroom 01-lightbox.jpg" title="Livingroom 01"  class="html5lightbox" data-group="amazingcarousel-1"><img src="templates/images/Livingroom 01.jpg"  alt="Livingroom 01" /></a></div>
                        <div class="amazingcarousel-title">Livingroom 01</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image"><a href="templates/images/Livingroom 02-lightbox.jpg" title="Livingroom 02"  class="html5lightbox" data-group="amazingcarousel-1"><img src="templates/images/Livingroom 02.jpg"  alt="Livingroom 02" /></a></div>
                        <div class="amazingcarousel-title">Livingroom 02</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image"><a href="templates/images/Livingroom 03-lightbox.jpg" title="Livingroom 03"  class="html5lightbox" data-group="amazingcarousel-1"><img src="templates/images/Livingroom 03.jpg"  alt="Livingroom 03" /></a></div>
                        <div class="amazingcarousel-title">Livingroom 03</div>                    </div>
                </li>
                <li class="amazingcarousel-item">
                    <div class="amazingcarousel-item-container">
                        <div class="amazingcarousel-image"><a href="templates/images/Livingroom 04-lightbox.jpg" title="Livingroom 04"  class="html5lightbox" data-group="amazingcarousel-1"><img src="templates/images/Livingroom 04.jpg"  alt="Livingroom 04" /></a></div>
                        <div class="amazingcarousel-title">Livingroom 04</div>                    </div>
                </li>
            </ul>
            <div class="amazingcarousel-prev"></div>
            <div class="amazingcarousel-next"></div>
        </div>
        <div class="amazingcarousel-nav"></div>
        <div class="amazingcarousel-engine"><a href="http://amazingcarousel.com">JavaScript Image Scroller</a></div>
    </div>
</div>