<div class="row">
    <div id="welcome-text-container" class="col-md-4">
        <h3>Функционалност</h3>
        <p>Проектиране на интериори, които предават ценностите от които се нуждаят клиентите ни и отговарят на всички функционални изисквания.</p>

        <h3>Чиста естетика</h3>
        <p>Проектиране на решения с голяма естетическа сила от чисти и откровени форми, носещи непринуденост и яснота. Използване на основни материали, избирайки най-подходящите за клиента и индивидуалността на проекта.</p>

        <h3>Уважение на пространството</h3>
        <p>Максимизиране на потенциала на всяка област, запазвайки всички оригинални елементи, които имат историческа стойност. Контрастът между ново и старо е най-добрия начин за повишаване на стойностите на всеки период без опити за имитация.</p>
    </div>
    <div id="image-container" class="col-md-8">
        <img ng-cloak="" ng-src="images/Za nas/Background.png" alt=""/>
    </div>
</div>