<div>
    <!--<ul class="gallery">-->
        <!--&lt;!&ndash;<li><a href="templates/carousel.html">Apartment</a></li>&ndash;&gt;-->
        <!--<li>-->
            <!--<hr/>-->
            <!--<div class="col-md-3">-->
                <!--some text-->
            <!--</div>-->
            <!--<div class="col-md-9 gallery">-->
                <!--<a href="templates/carousel.html">-->
                    <!--<img src="images/Galery/Apartament 1/Bedroom%2001.jpg" alt="apartment" />-->
                <!--</a>-->
            <!--</div>-->
        <!--</li>-->

        <!--<li>-->
            <!--<hr/>-->
            <!--<div class="col-md-3">-->
                <!--some text-->
            <!--</div>-->
            <!--<div class="col-md-9 gallery">-->
                <!--<a href="templates/carousel-mehana.html">-->
                    <!--<img src="images/Galery/Mehana u doma/01 - c15.jpg" alt="mehana" />-->
                <!--</a>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->

    <table class="table table-hover">
        <tbody>
            <tr>
                <td class="col-md-3">
                    <div>some text</div>
                </td>
                <td class="col-md-9 gallery">
                    <a href="templates/carousels/carousel-apartment.html">
                        <img src="images/Galery/Apartament 1/Bedroom%2001.jpg" alt="apartment"  />
                    </a>
                </td>
            </tr>

            <tr>
                <td class="col-md-3">
                    <div>some text</div>
                </td>
                <td class="col-md-9 gallery">
                    <a href="templates/carousels/carousel-mehana.html">
                        <img src="images/Galery/Mehana u doma/01 - c15.jpg" alt="mehana" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>