<div id="image-container-services">
    <div id="white-background-service">
        <div class="row">
            <div id="welcome-text-container">
                <h3>Базов проект</h3>
                <p>
                    На този етап разработваме различни варианти за разпределение на пространството, за да намерим този, който отговаря най-добре на нуждите на клиента.
                </p>

                <h3>Подробен проект</h3>
                <p>
                    След като фиксираме разпределението на пространството, определяме всички подробности по проекта, вътрешно разпределение за всяка зона, осветление, цветове, настилки, облицовки и т.н.
                </p>

                <h3>Работен проект</h3>
                <p>
                    Съдържа цялата техническа информация, необходима за реализация на проекта. Това включва чертежи на Електро, ВиК, ОиВ инсталации, окачени тавани, мебели и др.
                </p>

                <h3>Управление на проекта</h3>
                <p>
                    Ефективната координация на отделните професионалисти гарантира адекватността на изпълнението на проекта с необходимото качество и дава възможност за спазване на договорените срокове и бюджети.
                </p>
                <p>
                    В INTERIWORK обхващаме всички етапи от проекта, от първия разговор с клиента през творческия цикъл до изпълнението. Благодарение на това се елиминират възможни недоразумения и постигаме съвършени резултати с безкомпромисно качество.
                </p>
            </div>
        </div>
    </div>
</div>
